<table-button [@pointbuttonslider]="point.toString()"></table-button>
<ul>
  <li id="four">
    <table-laybox box="4"
                  dnd-droppable
    >
    </table-laybox>
    <table-buybox box="4"
                  dnd-droppable
    ></table-buybox>
    <table-placebox boxnumber="4"
                    dnd-droppable
    ></table-placebox>
  </li>
  <li id="five">
    <table-laybox box="5"
                  dnd-droppable
    >
    </table-laybox>
    <table-buybox box="5"
                  dnd-droppable
    ></table-buybox>
    <table-placebox boxnumber="5"
                    dnd-droppable
    ></table-placebox>
  </li>
  <li id="six">
    <table-laybox box="6"
                  dnd-droppable
    >
    </table-laybox>
    <table-buybox box="6"
                  dnd-droppable
    ></table-buybox>
    <table-placebox boxnumber="6"
                    dnd-droppable
    ></table-placebox>
  </li>
  <li id="eight">
    <table-laybox box="8"
                  dnd-droppable
    >
    </table-laybox>
    <table-buybox box="8"
                  dnd-droppable
    ></table-buybox>
    <table-placebox boxnumber="8"
                    dnd-droppable
    ></table-placebox>
  </li>
  <li id="nine">
    <table-laybox box="9"
                  dnd-droppable
    >
    </table-laybox>
    <table-buybox box="9"
                  dnd-droppable
    ></table-buybox>
    <table-placebox boxnumber="9"
                    dnd-droppable
    ></table-placebox>
  </li>
  <li id="ten">
    <table-laybox box="10"
                  dnd-droppable
    >
    </table-laybox>
    <table-buybox box="10"
                  dnd-droppable
    ></table-buybox>
    <table-placebox boxnumber="10"
                    dnd-droppable
    ></table-placebox>
  </li>
</ul>
